@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <div class="card p-4 shadow-sm">
        <h1 class="display-4">Добро пожаловать!</h1>
        <p class="lead">Приложение для проверки знаний по электробезопасности для неэлектрического персонала.</p>
        <hr class="my-4">
        <p>Для начала теста, нажмите на кнопку ниже.</p>
        <a class="btn btn-primary btn-lg" asp-controller="Quiz" asp-action="Start">Начать тест</a>
    </div>
</div> 